
/* Text */
.text-black{ color: var(--black) }
.text-general{ color: var(--general); }

.text-grey{ color: var(--grey); }
.text-grey2{ color: var(--grey2); }
.text-grey-light{ color: var(--grey-light); }
.text-grey-lightest{ color: var(--grey-lightest) !important; }
.text-gray-clear{ color: var(--gray-light-clear) }

.text-green{ color: var(--green-state); }
.text-green-light{ color: var(--green-state-light); }
.text-green-lightest{ color: var(--green-state-lightest) !important; }

.text-yellow{ color: var(--yellow); }
.text-yellow-light{ color: var(--yellow-light); }
.text-yellow-capsule{ color: var(--yellow-capsule); }

.text-blue{ color: var(--blue-state); }
.text-blue-light{ color: var(--blue-state-light); }
.text-blue-lightest{ color: var(--blue-state-lightest); }
.text-blue-dark{ color: var(--blue-dark) }
.text-blue-mesage{ color: var(--blue-mesage) }

.text-orange{ color: var(--orange) !important }
.text-red{ color: var(--red-pill) }

.text-green-clear{ color: var(--green-clear) !important; }
.text-whitesmoke{ color: var(--whitesmoke) !important; }
.text-whitesmoke2{ color: var(--whitesmoke2) !important; }
.text-whitesmoke3{ color: var(--whitesmoke3) !important; }
.text-whitesmoke4{ color: var(--whitesmoke4) !important; }