.el-input__wrapper{
    padding: 2px 15px 2px 15px !important;
    border-radius: 7px !important;
    max-height: 90px !important;
    height: 36px !important;
}
.el-textarea__inner{
    padding: 5px 15px 5px 15px !important;
    border-radius: 7px !important;
}